body {
    height: 100%;
    background-image: linear-gradient(#8A7B99, #E5CDFF);
}

.contactLink {
    float: right;
    margin: auto;
    padding-right: 15px;
    font-family: "Bellota Text", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;
}

nav a {
    color: black;
    text-decoration: none;
}
nav a:hover {
    color: #7B16D6;
    text-decoration: none;
}

.imgContainer {
    width: 100%;
    margin-top: 30px;
    text-align: center; /* Centers inline elements */
    align-items: center;
    display: flex;      /* Optional: For additional alignment flexibility */
    justify-content: center; /* Centers content horizontally */
    padding-top: 15px;
}

.img {
    border-radius: 400px; /* Makes the image circular */
    width: 200px;
    margin: 0 auto; /* Centers the image horizontally */
    display: block; /* Ensures the image behaves as a block-level element */
}


.menu{
    margin-top: 60px;
   display: flex;
   flex-direction: column; /* Ensure buttons are arranged vertically */
   align-items: center; /* Center buttons horizontally */
}

.menu section {
    margin-bottom: 20px; /* Add spacing between sections */
}

section a {
    text-decoration: none;
}

.bookBttn {
   margin: auto;
   width: 750px;
   padding: 10px;
   text-align: center;
   display: block;
   background-color: #D3B1F7;
   border: none;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bookBttn:hover {
    background-color: #bd84fb;
}

#bellota-text-light {
    font-family: "Bellota Text", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 28px;
  }

.instagramBttn{
    font-family: fantasy, light;
   font-size: 28px;
    margin: auto;
    width: 750px;
    padding: 10px;
   text-align: center;
   display: block;
   background-color: #D3B1F7;
   border: none;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.instagramBttn:hover {
    background-color: #bd84fb;
}

.galleryBttn {
    font-family: 'Courier New', Courier, monospace;
   font-size: 28px;
    margin: auto;
    width: 750px;
    padding: 10px;
   text-align: center;
   display: block;
   background-color: #D3B1F7;
   border: none;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.galleryBttn:hover {
    background-color: #bd84fb;
}

.policyBttn {
    font-family: 'Courier New', Courier, monospace;
   font-size: 28px;
   margin: auto;
   width: 750px;
   padding: 10px;
   text-align: center;
   display: block;
   background-color: #D3B1F7;
   border: none;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.policyBttn:hover {
    background-color: #bd84fb;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0px;
    width: 100%;
    text-align: center; /* Ensures the content remains centered */
    display: flex;      /* Enables Flexbox */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically (if applicable) */
    gap: 250px;           /* Adds spacing between the items */
    padding: 400px 20px 10px;       /* Optional: Adds padding around the footer */
    background-color: none; /* Optional: Footer background color */
    font-family: "Bellota Text", sans-serif;
}

.footer h3,
.footer a {
    margin: 0;            /* Removes default margin from h3 and anchor */
    font-size: 20px;      /* Ensures uniform font size */
    font-weight: lighter;
    color: black;         /* Optional: Text color */
    text-decoration: none; /* Removes underline from the link */
}

.footer a:hover {
    color: #7B16D6;       /* Optional: Changes color on hover */
}

/* Media Queries */

/* FOOTER */

 /* inspect tool */
@media only screen and (max-width: 1261px) {
    .footer {
        gap: 150px;           /* Adds spacing between the items */
    }
  }

  /* inspect tool */
  @media only screen and (max-width: 1040px) {
    .footer {
        gap: 90px;           /* Adds spacing between the items */
    }
  }

  /* iPad Mini */
  @media only screen and (max-width: 769px) {
    .footer {
        gap: 35px;           /* Adds spacing between the items */
    }
  }

  /* iPhone XR */
  @media only screen and (max-width: 430px) {
    .footer {
        gap: 10px;           /* Adds spacing between the items */
        padding-bottom: 20px;
    }
    .footer h3 {
        font-size: 13px;
    }
    .footer a {
        font-size: 13px;
    }
  }
/* iPhone SE */
  @media only screen and (max-width: 375px) {
    .footer h3 {
        font-size: 10px;
    }
    .footer a {
        font-size: 10px;
    }
  }

  /* BUTTONS */

   /* inspect tool */
  @media only screen and (max-width: 1040px) {
    .bookBttn {
        width: 650px;
    }
  }

   /* inspect tool */
  @media only screen and (max-width: 1040px) {
    .instagramBttn {
        width: 650px;
    }
  }

   /* inspect tool */
  @media only screen and (max-width: 1040px) {
    .galleryBttn {
        width: 650px;
    }
  }

   /* inspect tool */
  @media only screen and (max-width: 1040px) {
    .policyBttn {
        width: 650px;
    }
  }

   /* iPhone XR */
  @media only screen and (max-width: 430px), (max-length: 932px) {
    .bookBttn {
        width: 350px;
    }
  }

   /* iPhone XR */
  @media only screen and (max-width: 430px), (max-length: 932px) {
    .instagramBttn {
        width: 350px;
    }
  }

   /* iPhone XR */
  @media only screen and (max-width: 430px), (max-length: 932px) {
    .galleryBttn {
        width: 350px;
    }
  }

   /* iPhone XR */
  @media only screen and (max-width: 430px), (max-length: 932px) {
    .policyBttn {
        width: 350px;
    }
  }